@import "bootstrap-sprockets";
@import "bootstrap";

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.main {
  padding: 0px 0px 60px 0px;
}

.thumb {
    margin-bottom: 30px;
}

.image-button {
  display: inline-block;
  padding: 0px;
  margin-right:5px;
  border: 2px solid transparent;
}

.selected {
  border:3px solid orange;
}

footer {
    margin: 50px 0;
}

#tagline-title {
  padding: 40px 0px;
}

.form-field {
  padding: 20px;
}

label {
  padding: 0px 0px 0px 5px;
}

#search-button {
  float: right;
}
