<div class="row main">
  <div class="col-md-5" id="tagline">
    <h1 id="tagline-title">Find your next hacker retreat</h1>
    <p class="tagline-text">Looking for a place to code, enjoy the sun, and live cheap with a group of friends? Let us be your concierge. Take a look at our list of locations with reliable infrastructure, low cost of living, and good weather.</p>
    <p class="tagline-text">Looking for something a bit more affordable? Check out our <a href="">low season recommendations</a>. Or if money isn't an object, check out <a href="">what's hot now</a>.</p>
  </div>
  <div class="col-md-1"></div>

<div class="col-md-6" id="form">
  <%= form_tag("/locations/search", method: "get", class: "form-horizontal") do %>

  <div class="form-group">
    <label class="col-sm-2 control-label">Region</label>
    <div id="region-selection" class="col-sm-10">

      <div class="image-button unselected" data-region="southeastasia">
        <%= image_tag "southeastAsiaButton.jpg", size: "200x200" %>
      </div>
      <div class="image-button unselected" data-region="centralamerica">
        <%= image_tag "centralAmericaButton.jpg", size: "200x200" %>
      </div>

      <input class="image-input" name="region" type="hidden">
    </div>

  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Dates</label>
    <div class="col-sm-10">
    <input type="text" id="from" name="from">
    <input type="text" id="to" name="to">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Participants</label>
    <div class="col-sm-10">
      <input <input type="number" step="1" id="participants" name="participants">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    <%= submit_tag("Search", class: "btn btn-default") %>
    </div>
  </div>
<% end %>


</div>
</div>
